@if (!this.chatData || !authService.me) {
<div class="loading">Loading...</div>
} @else {


<div class="header">
  <button class="btn back" (click)="goBack()">
    <svg icon="arrowBack"></svg>
  </button>
  <img [src]="API_URL + '/public/' + chatData.chat.img[0].path" class="avatar" alt="" />
  <div class="header-info">
    <h2 class="name">{{ chatData.chat.title }}</h2>
  </div>
  <div class="header-actions">
    <button class="btn" (click)="deleteSelectedMessages($event)" *ngIf="isSelectMode">
      <svg icon="trashcan"></svg>
    </button>
    <button class="btn" (click)="toggleSelectMode()">
      <svg icon="select"></svg>
    </button>
    <button class="btn" (click)="openChatSettings()">
      <svg icon="hex"></svg>
    </button>
  </div>
</div>
<div id="messages-holder" class="messages-holder">
  <app-context-menu #contextMenu [items]="contextMenuItems" [style]="contextMenuStyle"></app-context-menu>
  @for (message of this.chatData.messages; track message._id; let last = $last) {
  <app-message (onclick)="closeContextMenu()" [selectMode]="isSelectMode" (openMedia)="openMedia(message._id)"
    [data]="message" [isSender]="message.senderId._id !== me?._id" (openContextMenu)="openContextMenu($event)">
  </app-message>
  }
</div>
<div class="input-holder">
  @if (!editMode){
  <div id="upload-bars-holder" class="upload-bars-holder">
  </div>
  <div class="filesPopUp" *ngIf="filesList.length">
    @for (file of filesList; track file.name) {
    <div class="fileItem">
      @if (file.name.endsWith('.png') || file.name.endsWith('.jpg') || file.name.endsWith('.jpeg')) {
      <img [src]="URL.createObjectURL(file.file)" class="fileImage" />
      } @else {
      <svg icon="file"></svg>
      <span class="fileSize">{{ file.size }}</span>
      }
      <div class="deleteBtn" (click)="deleteFile(file)"><svg icon="plus"></svg></div>
    </div>
    }
  </div>
  <div class="attachFileBtn">
    <label for="files-input" class="btn attachFile">
      <svg icon="attach"></svg>
    </label>
    <input (change)="onFileSelected($event)" id="files-input" type="file" class="attachFile" multiple hidden />
  </div>
  <textarea id="message-input" class="input" placeholder="Type a message..." (keypress)="onKeyPress($event)"></textarea>
  <button id="send-btn" class="btn" (click)="sendMessage()">Send</button>
  } @else {
  <textarea id="message-input" class="input" [value]="messageTextForEdit" (keypress)="onKeyPress($event)"
    placeholder="Type a message..."></textarea>
  <button id="send-btn" class="btn" (click)="editMessage()">Save</button>
  }

</div>

<app-media-gallery *ngIf="mediaToShow.length > 0" (close)="closeMedia()" (delete)="deleteMedia($event)"
  [media]="mediaToShow"></app-media-gallery>
}