@if (!this.chatData || !authService.me) {
<div class="loading">Loading...</div>
} @else {


<div class="header">
  <button class="btn back" (click)="goBack()">
    <svg icon="arrowBack"></svg>
  </button>
  <img [src]="API_URL + '/public/' + chatData.chat.img[0].path" class="avatar" alt="" />
  <div class="header-info">
    <h2 class="name">{{ chatData.chat.title }}</h2>
  </div>
</div>
<div id="messages-holder" class="messages-holder">
  @for (message of this.chatData.messages; track message._id; let last = $last) {
    <app-message [data] = "message" [isSender]="message.senderId._id !== me?._id"></app-message>
  }
</div>

<div class="input-holder">
  <div class="attachFileBtn">
    <label for="files-input" class="btn attachFile">
      <svg icon="attach"></svg>
    </label>

    <input id="files-input" type="file" class="attachFile" multiple hidden/>
  </div>
  <textarea id="message-input" class="input" placeholder="Type a message..." (keypress)="onKeyPress($event)"></textarea>
  <button id="send-btn" class="btn" (click)="sendMessage()">Send</button>
</div>
}