.photo-grid {
  display: flex;
  position: relative;
  width: 100px;
  max-height: fit-content;
  min-height: fit-content;
}

.photo:nth-child(1) {
  position: relative;
  width: 100px;
  height: fit-content;
  min-height: 250px;
  object-fit: contain;
  border-radius: 8px;
}
.photo:nth-child(n + 2) {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom center;
}

.photo:hover {
  transform: scale(1.05);
  z-index: 2;
}

.message {
  max-width: 100%;

  display: flex;
  flex-direction: row-reverse;
  height: fit-content;

  gap: 1rem;
}
.message-info {
  background: var(--secondary-color);

  padding: 1rem;
  border-radius: 1rem;

  width: fit-content;
  text-align: right;
  gap: 1rem;
  position: relative;
  z-index: 3;
}
.message-text {
  font-size: 1rem;
  color: var(--text-color);
  flex-wrap: wrap;
  word-break: break-word;
  white-space: pre-wrap;
}
.message-sender {
  flex-direction: row;
  .message-info {
    text-align: left;
  }
}

.message-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.media-holder {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: auto;
  * {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
.media-item {
  width: 100%;
  height: 3rem;
  background: var(--primary-color);
  border-radius: 0.5rem;

  padding: 0.5rem;

  font-size: 0.8rem;
}

.context-menu {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: 0;

  padding: 0.2rem;

  background-color: var(--gray-color);

  transform: translateX(-120%);
  width: fit-content;

  .context-menu-item {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 0.2rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: white;
    }

    &:hover {
      background: var(--primary-color);
      border-radius: 0.3rem;
    }
  }
}

.context-menu.showed {
  display: flex;
}

@media (max-width: 800px) {
  .message-avatar {
    width: 2rem;
    height: 2rem;
  }

  .message {
    gap: 0.5rem;
  }
  .message-info {
    max-width: 80%;
    padding: 0.5rem;

    border-radius: 1rem;
  }

  .message-sender {
    font-size: 0.9rem;
  }
  .message-text {
    font-size: 0.8rem;
  }
}
