<div [ngClass]="{
      message: true,
      'message-sender': isSender,
    }" [attr.data-id]="data._id">
  <img [src]="API_URL + '/public/' + data.senderId.img[0].path" class="message-avatar" alt="" />

  <div class="wrapper" [style]="{
    'display': 'flex',
    'flex-direction': 'column',
    'width': 'fit-content',
    'align-items': isSender ? 'flex-start' : 'flex-end'
  }">
    <div class="photo-grid">
      @for (media of imageMedia; track media._id; let i = $index) {
      <div class="photowrapper" [ngStyle]="{
        transform: 'translateX('+ ((isSender ? 1 : -1)*(i-1)*2) +'px)' + ' translateY(' + ((i-1)*2) + 'px)',
      }">
        <img [src]="API_URL + '/mediaserver/public/' + media.path" class="photo" href="google.com" alt="" />
      </div>
      }
    </div>
    <div class=" message-info" (contextmenu)="openContextMenu($event)" (click)="openContextMenu($event)">
      <h3 class="message-sender">{{ data.senderId.username }}</h3>

      @if (isEditing) {
      <textarea (keypress)="onKeyPress($event)" class="message-edit" [value]="data.text" (change)="changeText($event)"
        placeholder="Edit your message..."> </textarea>
      }
      @else {
      <p class="message-text">{{ data.text }}</p>
      }
      <div (click)="stopPropagation($event)" (contextmenu)="stopPropagation($event)" class="media-holder"
        *ngIf="data.media && data.media.length > 0">
        @for (media of data.media; track media._id) {
        @if (!media.mime.startsWith('image/')) {
        <div class="media-item">
          <svg icon="file"></svg>
          <a [href]="API_URL + '/mediaserver/public/' + media.path" target="_blank" class="media-link">
            <p>{{ media.path }}</p>
          </a>
        </div>
        }}
      </div>
      <div class="context-menu" [ngClass]="{ showed: contextMenuShow }">
        @if(!isSender){<div class="context-menu-item" (click)="editMessage()"> <svg icon="pen" /> Edit</div>}
        <div class="context-menu-item" (click)="deleteMessage()"> <svg icon="trashcan" /> Delete</div>
      </div>
    </div>

  </div>
</div>