<div [ngClass]="{
      message: true,
      'message-sender': isSender,
    }" [attr.data-id]="data._id" (click)="onclick.emit()">
  <img [src]="data.senderId.img[0] | img" class="avatar" alt="" />

  <div #wrapper class="wrapper" (contextmenu)="onContextMenu($event)" data-long-press-delay="1000"
    [attr.data]="JSON.stringify({type: 'message', id: data._id, my: !isSender})">
    <div class="username">
      {{ isSender ? data.senderId.username : "You" }}
    </div>

    <app-media-preview (openMedia)="onMediaGallery()" *ngIf="imageMedia.length > 0" [imageMedia]="imageMedia"></app-media-preview>

    <div class="text">
      @if (isEditing) {
      <textarea (keypress)="onKeyPress($event)" class="message-edit" [value]="data.text" (change)="changeText($event)"
        placeholder="Edit your message..."> </textarea>
      }
      @else {
      <pre>{{ data.text }}</pre>
      }
    </div>

    <div (click)="stopPropagation($event)" (contextmenu)="stopPropagation($event)" class="media-holder"
      *ngIf="data.media && data.media.length > 0">
      @for (media of data.media; track media._id) {
      @if (!media.mime.startsWith('image/') && !media.mime.startsWith('video/')) {
      <div #mediaItem class="media-item" (contextmenu)="onContextMenu($event)" data-long-press-delay="1000"
        [attr.data]="JSON.stringify({type: 'media', id: media._id, path: media.path})">
        <svg icon="file"></svg>
        <p>{{ media.path }}</p>
      </div>
      }}
    </div>

    <div class="footer">
      @if (data.editedAt.split(".")[0] == data.createdAt.split(".")[0]) {
      <p>Sent at</p>
      <p>{{ data.createdAt | date: 'shortTime' }}</p>
      } @else {
      <p>Edited at</p>
      <p>{{ data.editedAt | date: 'shortTime' }}</p>
      }
    </div>
  </div>

  <div class="message-select-box" *ngIf="selectMode"><input type="checkbox" [checked]="data.isSelected"
      (change)="selectMessage($event)" name="" id="" /></div>
</div>