<app-modal (click)="close()">
  <div class="wrapper" (click)="stopPropagation($event)" GlassEffect>
    <div class="header">
      <div class="btn close" (click)="close()">
        <svg icon="plus"></svg>
      </div>
      <div class="flex ai-center primary-color">
        <h4 class="bold">{{authService.me.currency}}</h4> 💾
      </div>
    </div>

    <div class="content">
      <div class="friends holder">
        <div class="friend item" *ngFor="let friend of this.friendList" (click)="selectUser(friend.id)" GlassEffect
          [ngClass]="{'selected': selectedUser === friend.id}">
          <img [src]="friend.img[friend.img.length-1] | img" alt="" class="avatar" [ngClass]="{
            'online': friend.isOnline
          }">
          <p>{{ friend.username }}</p>
          <svg icon="arrowRight"></svg>
        </div>
      </div>
      @if (selectedUser) {
      @if (!this.giftList.list.length) {

      <p>At the moment, there aren't any gifts available</p>
      } @else {

      <div class="gifts holder">
        <div class="gift item" *ngFor="let gift of this.giftList.list" GlassEffect (click)="sendGift(gift.uid)">
          <img [src]="gift.url" alt="">
          <div class="info">
            <h2>{{ gift.name }}</h2>
            <h3>{{ gift.value }} 💾</h3>
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>
</app-modal>