<div class="wrapper" [ngStyle]="style">
    <div class="wrapper-emojis">
        <div *ngFor="let em of firstLine" class="reaction-item" (click)="onSelect(em.id)"><img [src]="em.url">
        </div>

        <button class="reactions-open-more" (click)="toggle($event)">
            @if (!showOther) {<svg icon="plus" />}
            @else            {<svg icon="minus" />}
        </button>
    </div>
    <div class="wrapper-emojis" *ngIf="showOther">
        <div *ngFor="let em of otherEmojis" class="reaction-item" (click)="onSelect(em.id)"><img [src]="em.url">
        </div>
    </div>
</div>