app-block {
  width: 100%;
  height: 60px;
  display: flex;

  align-items: center;

  position: relative;

  padding: 5px 10px 5px 5px;
  gap: 10px;

  border-radius: 2rem;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  object-fit: cover;
}
.chat-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.message-preview {
  width: 100%;
  display: flex;
}

.message-preview-text {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.7rem;
  color: color-mix(in srgb, var(--primary-color) 40%, var(--light-color));
}
.message-preview-time {
  position: absolute;
  right: 10px;
  flex: 1 1 0;
  font-size: 0.7rem;
  color: color-mix(in srgb, var(--primary-color) 40%, var(--light-color));
  text-align: right;
}

.unread-messages {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 900;
}

@media (max-width: 1000px) or (prefers-color-scheme: light) {
  :host {
    background: transparent;
  }
}
