@if (!data) {
<p>Loading...</p>
} @else {

<div class="wrapper">
  <div class="header">
    <div class="background"></div>
    <div class="avatar">
      <img [src]="(data.img[data.img.length-1] || null) | img" alt="User avatar" [ngClass]="{
        'online': data.isOnline
      }" />
    </div>
    <div class="info">
      <h5>{{ data.title }}</h5>
      <p>{{ data.memberCount }} members</p>
    </div>
  </div>

  <div class="nav" role="tablist" aria-label="Profile sections">
    @for (navItem of navPanel; track navItem.label){
    <button *ngIf="navItem.guard" type="button" class="navItem" role="tab"
      [attr.aria-selected]="navItem.label === selectedNav" [ngClass]="{ 'selected': navItem.label === selectedNav }"
      (click)="changeTo(navItem.label)">
      {{ navItem.label }}
      <div class="line"></div>
    </button>
    }
  </div>
  <ng-container *ngIf="selectedNav == 'Media'">
    <div class="content media">
      @for (media of data.media; track media.id) {
      @if (media.mime.startsWith("image/")){
      <img appOnVisibleOnce (visibleOnce)="loadSRCforMedia($event, media, 'media')" alt="" class="media item"
        (click)="showInChat.emit(media.communicationId)">
      }@else if (media.mime.startsWith("video/") && media.type != "video_message") {
      <video appOnVisibleOnce (visibleOnce)="loadSRCforMedia($event, media, 'media')" alt="" class="media item"
        (click)="showInChat.emit(media.communicationId)"></video>
      }
      }
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav == 'Members'">
    <app-modal (click)="showAddMemberModal = false" *ngIf="showAddMemberModal">
      <div class="add-member-holder modal" (click)="stopPropagation($event)">
        <div class="header">
          <div class="btn close" (click)="showAddMemberModal = false">
            <svg icon="cross"></svg>
          </div>
          <div class="title">
            Add Members
          </div>
        </div>
        <div class="search_field">
          @for (user of friends; track user.id) {
          @if (user.selected){
          <div class="user item selected">
            {{user.username}}
            <div class="rem" (click)="user.selected = false">
              <svg icon="cross"></svg>
            </div>
          </div>
          }
          }
          <input type="text" class="search_users" placeholder="Search" (input)="filterNames($event)">
        </div>
        <div class="users-holder">
          @for (user of friends; track user.id) {
          @if (user.username.startsWith(filterName)) {
          <div class="user item">
            <img [src]="user.img[user.img.length-1] | img" alt="" class="avatar-user">
            <div class="row">
              <div class="username">{{ user.username }}</div>
              <input class="select" type="checkbox" [checked]="user.selected!"
                (change)="user.selected = !user.selected">
            </div>
          </div>
          }
          }
        </div>
        <div class="footer" (click)="addMembers()">
          OK
        </div>
      </div>
    </app-modal>
    <app-modal (click)="showEditMemberModal = {}" *ngIf="JSON.stringify(showEditMemberModal) != '{}'">
      <div class="edit-member-holder modal" (click)="stopPropagation($event)">
        <div class="header">
          <div class="btn close" (click)="showEditMemberModal = {}">
            <svg icon="cross"></svg>
          </div>
          <div class="title">
            Edit
          </div>
        </div>
        <div class="content">
          <div class="user-preview">
            <img [src]="showEditMemberModal.user.img[showEditMemberModal.user.img.length-1] | img" alt=""
              class="user-avatar">
            <div class="nickname">{{showEditMemberModal.user.username}}</div>
          </div>
          <div class="action-btns">
            <div class="btn btn-info" (click)="showProfile=showEditMemberModal.user.id"><svg icon="person"></svg>Show
              Profile</div>
            @if (
            authService.me.id == data.group.owner
            ){
            @if (showEditMemberModal.role != "admin" ) {
            <div class="btn btn-danger" (click)="promoteMember(showEditMemberModal.user.id)"><svg
                icon="upgrade"></svg>Promote user
            </div>
            } @else {
            <div class="btn btn-danger" (click)="degradeMember(showEditMemberModal.user.id)"><svg style="transform: rotate(180deg);"
                icon="upgrade"></svg>Degrade user
            </div>
            }
            }
            @if (showEditMemberModal.role != "admin" ) {
            <div class="btn btn-danger" (click)="removeMember(showEditMemberModal.user.id)"><svg
                icon="trashcan"></svg>Kick User</div>
            }
          </div>
        </div>
        <div class="footer" (click)="showEditMemberModal={}">
          OK
        </div>
      </div>
    </app-modal>
    <div class="members content" style="padding-top: .5rem;">
      <div class="user item" (click)="showAddMemberModal=true">
        <svg icon="addMember"></svg>
        <div class="row">
          <div class="name">
            Add Member
          </div>
        </div>
      </div>
      <div class="user item"
        (click)="authService.me.id == user.user.id ? null : ((user.user.id != data.group.owner && data.role == 'admin') ? showEditMemberModal = user : showProfile = user.user.id)"
        *ngFor="let user of data.group.members">
        <img appOnVisibleOnce (visibleOnce)="loadSRCforMedia($event, user.user.img[user.user.img.length-1], 'img')"
          alt="" class="avatar-mini">
        <div class="row">
          <div class="name">{{user.user.username}}</div>
          <p class="role" *ngIf="user.role != 'member'">{{user.role}}</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <app-modal *ngIf="showProfile" (click)="showProfile = ''">
      <div class="info-container" (click)="stopPropagation($event)">
        <app-profile [username]="showProfile"></app-profile>
      </div>
    </app-modal>
  </ng-container>
  <ng-container *ngIf="selectedNav == 'Files'">
    <div class="content" style="gap: .5rem; padding-top: .5rem;">
      @for (file of data.media; track file.id) {
      @if (!file.mime.startsWith("image/") && !file.mime.startsWith("video/") && file.type != 'audio' && file.type !=
      "video_message"){
      <div class="file item" (click)="showInChat.emit(file.communicationId)">
        <svg icon="file">
        </svg>
        <div class="name">
          {{file.path}}
        </div>
        <div class="size">
          {{file.size / 1024 / 1024 | number:"1.0-0"}}MB
        </div>
        <div class="download">
          <a [href]="file.path | media"><svg icon="reply"></svg></a>
        </div>
      </div>
      }}
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav == 'Voice'">
    <div class="voice content" style="gap: .5rem; padding-top: .5rem;">
      @for (media of data.media; track media.id) {
      @if (media.type == 'video_message' || media.type == 'audio') {
      <div class="voice item" (click)="showInChat.emit(media.communicationId)">
        <div>
          <video appOnVisibleOnce (visibleOnce)="loadSRCforMedia($event, media, 'media')" autoplayMuted></video>
          <svg icon="play"></svg>
        </div>
      </div>
      }
      }
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav == 'Settings'">
    <div class="settings content" style="gap: .5rem; padding-top: .5rem;">
      <form [formGroup]="settingsFrom">
        <h2>Main Settings</h2>
        <div class="row">

          <div class="holderInputImg">
            <label for="uploadPhoto" class="upload">
              <svg icon="plus"></svg>
            </label>
            <input type="file" id="uploadPhoto" hidden>
          </div>
          <div class="holder">
            <input type="text" placeholder="Title" formControlName="title" />
            <textarea placeholder="Description" formControlName="description"></textarea>
          </div>
        </div>
        <button class="btn">Save</button>
      </form>
    </div>
  </ng-container>

</div>
}