.wrapper {
  width: 100%;
  height: fit-content;
  padding: 0;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.header {
  position: relative;
  width: 100%;
  height: 40svh;

  border: 0px solid var(--light-color);
  border-radius: 50px 50px 0 0;
  overflow: hidden;
}
.giftBtn,
.logoutBtn {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 30px;
  height: 30px;

  background: transparent;
  border: 0;
  z-index: 100;
  transform: translate(-50%, -50%);
  cursor: pointer;

  color: var(--lightgray-color);

  svg {
    width: 100%;
    height: 100%;
  }
}
.giftBtn:hover,
.logoutBtn:hover {
  color: var(--primary-color);
}
.logoutBtn {
  color: var(--dark-gray-color);
  right: 35px;
  left: initial;
  transform: translate(50%, -50%);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to left,
    var(--lightgray-color),
    var(--dark-gray-color)
  );
}
.avatar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 5px solid var(--lightgray-color);
  overflow: hidden;

  width: 18vh;
  height: 18vh;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}
.avatar.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-gray-color);
  svg {
    width: 60%;
    height: 60%;
    fill: var(--gray-color);
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  font-size: 2.5rem;
  transform: translate(-50%, 50%);
  p {
    font-size: 1rem;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 6svh;
  background: var(--dark-gray-color);
  overflow: auto;
}
.nav::-webkit-scrollbar {
  display: none;
}
.navItem {
  background: none;
  border: none;
  font: inherit;
  transition: color 0.2s ease;
  outline: none;
  position: relative;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-color);

  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}
.navItem.selected {
  color: var(--primary-color);
}
.navItem.selected .line {
  width: 100%;
  height: 5px;
  background: var(--primary-color);
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}
.content {
  width: 100%;
  min-height: 48svh;
  height: fit-content;
  background: var(--darker-gray-color);

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-bottom: 2rem;
}
.content-header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: var(--darker-gray-color);

  button {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    width: fit-content;
    height: 100%;

    color: var(--light-color);
    background: transparent;
    border: 0;
    cursor: pointer;

    svg {
      height: 100%;
      aspect-ratio: 1/1;
    }
  }
  button:hover {
    color: var(--primary-color);
  }
}
.content-header + .content {
  height: calc(40vh - 3rem);
}

.modal {
  width: 450px;
  height: 650px;
  border-radius: 2rem;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.modal .header {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;

  border-bottom: 1px solid var(--dark-gray-color);
  color: var(--primary-color);

  .close.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    height: 40%;
    width: initial !important;
    aspect-ratio: 1 / 1;

    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;

    svg {
      height: 100%;
      width: initial !important;
      aspect-ratio: 1 / 1;
      padding: 0;
      margin: 0;
    }
    &:hover svg {
      color: var(--light-color);
    }
  }
}
.modal .content {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
}
.modal .footer {
  width: 100%;
  height: 3.5rem;

  border-top: 2px solid var(--lightgray-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Page */
.media.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
}
.media.content .media.item {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.02);
  }
}
/* Members Page */
.add-member-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-member-holder .search_field {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: 0.5rem;

  gap: 2px;
  padding: 5px;
  width: 90%;
  height: fit-content;
  margin: 1rem 0;

  background: var(--dark-gray-color);

  input {
    background: transparent;
    border-radius: inherit;
    flex: 1;
    outline: none;
    min-width: 200px;
    height: calc(2.5rem - 10px);
    padding: 0 0.25rem;
  }
  .user.item {
    width: fit-content;
    height: calc(2.5rem - 10px);
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .rem {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      height: 50%;
      aspect-ratio: 1 / 1;
      background: color-mix(in srgb, var(--primary-color) 30%, white);

      svg {
        color: var(--primary-color);
        width: 100%;
        height: 100%;
      }
    }
  }
}
.add-member-holder .users-holder {
  display: flex;
  flex-direction: column;
  overflow: auto;

  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  padding-bottom: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.edit-member-holder .content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.edit-member-holder .user-preview {
  width: 80%;
  height: 10vh;
  padding: 0.5rem;
  border-radius: 1rem;

  background: var(--dark-gray-color);

  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
.edit-member-holder .action-btns {
  width: 80%;
  height: fit-content;

  background: var(--dark-gray-color);
  padding: 1rem;
  border-radius: 1rem;
  .btn {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 3rem;
    border: 0;

    &:hover {
      background: transparent;
    }

    svg {
      padding: 0;
      margin: 0;
      width: initial;
      height: 80%;
      aspect-ratio: 1 / 1;
    }
  }
}

.users-holder .user.item {
  display: flex;
  align-items: center;

  height: 3rem;
  width: 100%;
  gap: 1rem;

  .avatar-user {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }
  .row {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--lightgray-color);

    .select {
      position: absolute;
      right: 5%;
      top: 50%;

      height: 65%;
      aspect-ratio: 1 / 1;
      transform: translate(0, -50%);
    }
  }
}

.members.content {
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  padding-left: 1rem;
}
.members.content .user.item {
  width: 100%;
  height: 3rem;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  img.avatar-mini,
  svg {
    height: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;

    color: var(--primary-color);
  }
  .row {
    width: 100%;
    color: var(--primary-color);
    .role {
      position: absolute;
      top: 5%;
      right: 10px;
      color: var(--light-color);
      font-size: 0.8rem;
    }
    .line {
      width: 100%;
      height: 1px;
      background: var(--gray-color);
      border-radius: 4px;
      margin-top: 10px;
    }
  }
}
/* Files Page */
.files.content {
  display: flex;
  flex-direction: column;
}
.file.item {
  position: relative;

  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;

  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 5px;
  color: var(--primary-color);

  svg {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  .size {
    position: absolute;
    top: 60%;

    transform: translate(-50%, -50%);
    left: 2.75rem;
    font-size: 14px;
  }
  .download {
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
    height: 50%;
    width: initial;
    aspect-ratio: 1 / 1;

    svg {
      height: 100%;
      aspect-ratio: 1 / 1;

      color: var(--primary-color);
    }
  }
}
/* Voice Page */
.voice.content {
  display: flex;
  flex-direction: column;
}
.voice.item {
  width: 100%;
  height: 4rem;

  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-color);

  div {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--primary-color);

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      object-fit: cover;
      object-position: center;
    }
  }
  svg {
    height: 60%;
    aspect-ratio: 1 / 1;
    color: var(--light-color);
    z-index: 100;
  }
}
/* Settings Page */
.settings.content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
  h2 {
    color: var(--primary-color);
  }
}
.settings.content form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 2rem;
  gap: 1rem;

  .row {
    width: 100%;
    display: flex;
    gap: 1rem;
    .holderInputImg {
      width: 8rem;
      aspect-ratio: 1 / 1;

      border-radius: 50%;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      overflow: hidden;
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        svg {
          height: 80%;
          aspect-ratio: 1 / 1 ;
        }
      }
    }
    .holder {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      textarea {
        height: 5rem;
        font-size: 0.6rem;
      }
    }
  }

  .btn {
    position: relative;
    left: 95%;
    transform: translate(-100%);

    width: fit-content;
    border-radius: 8px;
  }
}

@media (max-width: 800px) {
  .modal {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;
    border-radius: 2rem 2rem 0 0;

    animation: showingUp 500ms ease-in-out;
  }
}
