:host {
  width: 100%;
  height: fit-content;
  flex: 1 1;
}

.holder {
  background: var(--gray-color);
  display: grid;
  border-radius: 8px;
  overflow: hidden;
}

.media-item {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: center ;
  
  overflow: hidden;
}

.wrapperVM {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;


  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}