@if (!this.chatData?.chat || !authService.me) {
<div class="loading">Loading...</div>
} @else {


<div class="header">
  <button class="btn back" (click)="goBack()">
    <svg icon="arrowBack"></svg>
  </button>
  <img [ngClass]="{
    'online': this.isOnline
  }" [src]="chatData.chat.img[chatData.chat.img.length-1] | img" class="avatar" alt="" />
  <div class="header-info">
    <h2 class="name">{{ chatData.chat.title }}</h2>
  </div>
  <div class="header-actions">
    <button class="btn" (click)="deleteSelectedMessages($event)" *ngIf="isSelectMode">
      <svg icon="trashcan"></svg>
    </button>
    <button class="btn" (click)="toggleSelectMode()">
      <svg icon="select"></svg>
    </button>
    <button class="btn" (click)="toggleChatsSettigns()">
      <svg icon="threedots"></svg>
    </button>
  </div>
  <div class="chatsSettings" *ngIf="this.isChatsSettings">
    <div class="setting-item delete">
      <svg icon="trashcan"> </svg>  Delete Chat
    </div>
  </div>
</div>

<app-video-message *ngIf="this.isRecordVM" (onstop)="onStopRecord($event)"></app-video-message>
<div id="messages-holder" class="messages-holder">
  <app-context-menu #contextMenu [items]="contextMenuItems" [style]="contextMenuStyle"></app-context-menu>
  <app-emoji-selector #emojiSelector (close)="closeContextMenu()" (select)="toggleEmoji($event)"
    [style]="emojiSelectorStyle"></app-emoji-selector>


  @for (message of this.chatData.messages; track message._id; let last = $last) {
  <app-message [chatData]="this.chatData" (onclick)="closeContextMenu()" [selectMode]="isSelectMode"
    (openMedia)="openMedia(message._id)" [data]="message" [isSender]="message.senderId._id !== me?.id"
    (openContextMenu)="openContextMenu($event)">
  </app-message>
  }
</div>
<div class="input-holder">
  <app-input-field (replyOn)="replyOn($event)" (sendMessage)="sendMessage()"
    (toggleRecVideoMsg)="toggleRecVideoMsg()" [chatData]="this.chatData"></app-input-field>
</div>

<app-media-gallery *ngIf="mediaToShow.length > 0" (close)="closeMedia()" (delete)="deleteMedia($event)"
  [media]="mediaToShow"></app-media-gallery>
}