@if (!this.chatData?.chat || !authService.me) {
<div class="loading">Loading...</div>
} @else {


<div class="header">
  <button class="btn back" (click)="goBack()">
    <svg icon="arrowBack"></svg>
  </button>
  <img [ngClass]="{
    'online': this.isOnline === true
  }" [src]="chatData.chat.img[chatData.chat.img.length-1] | img" class="avatar" alt="" (click)="toggleInfo()" />
  <div class="header-info" (click)="toggleInfo()">
    <h2 class="name">{{ chatData.chat.title }}</h2>
    <p style="font-size: 12px; color: var(--light-color);">
      @if (chatData.chat.type == "chat") {
      {{ this.isOnline === true ? 'online' : ('was at ' + (this.isOnline | date: 'HH:mm dd/MM/yy')) }}
      }
    </p>
  </div>
  <div class="header-actions">
    <button class="btn" (click)="deleteSelectedMessages($event)" *ngIf="isSelectMode">
      <svg icon="trashcan"></svg>
    </button>
    <button class="btn" (click)="toggleSelectMode()">
      <svg icon="select"></svg>
    </button>
    <button class="btn" (click)="toggleChatsSettigns()">
      <svg icon="threedots"></svg>
    </button>
  </div>
  <div class="chatsSettings" *ngIf="this.isChatsSettings">
    @if (this.chatData.chat.type != "group") {
    <div class="setting-item delete" (click)="deleteChat()">
      <svg icon="trashcan"> </svg> Delete Chat
    </div>
    } @else if (this.chatData.chat.group.owner.id == authService.me.id){
    <div class="setting-item delete" (click)="leaveChat()">
      <svg icon="reply"> </svg> Leave
    </div>
    <div class="setting-item delete" (click)="deleteChat()">
      <svg icon="trashcan"> </svg> Delete Group
    </div>
    } @else {
    <div class="setting-item delete" (click)="leaveChat()">
      <svg icon="reply"> </svg> Leave
    </div>
    }

  </div>
</div>
@if (this.chatData.chat.type == 'chat') {
<app-modal *ngIf="showInfo" (click)="toggleInfo()">
  <div class="info-container" (click)="stopPropagation($event)">
    <app-profile [username]="this.chatData.chat.chat.friendId"></app-profile>
  </div>
</app-modal>
} @else if (this.chatData.chat.type == 'group') {
<app-modal *ngIf="showInfo" (click)="toggleInfo()">
  <div class="info-container" (click)="stopPropagation($event)">
    <app-space-info [id]="this.chatData.chat.id" (showInChat)="scrollToMsg($event)"></app-space-info>
  </div>
</app-modal>
}
<app-video-message *ngIf="this.isRecordVM" (onstop)="onStopRecord($event)"></app-video-message>
<div id="messages-holder" class="messages-holder">
  <app-context-menu #contextMenu [items]="contextMenuItems" [style]="contextMenuStyle"></app-context-menu>
  <app-emoji-selector #emojiSelector (close)="closeContextMenu()" (select)="toggleEmoji($event)"
    [style]="emojiSelectorStyle"></app-emoji-selector>


  @for (message of this.chatData.messages; track message.id; let last = $last) {
  <app-message [chatData]="this.chatData" (onclick)="closeContextMenu()" [selectMode]="isSelectMode"
    [showSender]="chatData.chat.type == 'group'" (openMedia)="openMedia(message.id)" [data]="message"
    [isSender]="message.sender.id !== me?.id" (openContextMenu)="openContextMenu($event)" (onRead)="OnReadMsg($event)"
    (scrollToMsg)="scrollToMsg($event)">
  </app-message>
  }
</div>
<div class="input-holder">
  <div class="line"></div>
  <app-input-field (replyOn)="replyOn($event)" (sendMessage)="sendMessage()" (toggleRecVideoMsg)="toggleRecVideoMsg()"
    [chatData]="this.chatData"></app-input-field>
</div>

<app-media-gallery *ngIf="mediaToShow.length > 0" (close)="closeMedia()" (delete)="deleteMedia($event)"
  [media]="mediaToShow"></app-media-gallery>
}