:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--dark-color);
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  height: 7%;

  display: flex;
  align-items: center;

  gap: 2rem;

  padding: 1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;

  background: var(--secondary-color);

  position: relative;
}

.header-actions {
  display: flex;
  position: absolute;
  width: fit-content;
  height: 100%;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);

  .btn {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover {
    background: transparent;
    svg {
      color: var(--primary-color);
    }
  }
  svg {
    color: var(--light-color);
    width: 2rem;
    padding: 0;
    margin: 0;
    height: 100%;
  }
}
.chatsSettings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem 0;

  position: absolute;
  right: 2%;
  top: 100%;
  transform: translateY(20%);

  background: var(--dark-gray-color);

  border-radius: 8px;

  z-index: 99;
}
.setting-item {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  padding: 0 1rem;

  height: 2rem;
  width: fit-content;
  cursor: pointer;

  color: var(--light-color);

  svg {
    height: 80%;
    aspect-ratio: 1 / 1;
  }
}
.setting-item.delete:hover {
  color: rgb(255, 65, 65);
}
.setting-item:hover {
  background: var(--gray-color);
}
.avatar {
  width: 50px;
  height: 50px;

  object-fit: cover;

  border-radius: 50%;
}

.messages-holder {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 1rem;
  padding-top: 2rem;

  padding-left: 10%;
  padding-right: 10%;
  overflow-y: auto;

  padding-bottom: 3rem;
}

.messages-holder::-webkit-scrollbar {
  width: 0.1rem;
}

.input-holder {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;

  position: relative;
  gap: 2rem;
  padding: 1rem 0;

  background: transparent;

  .line {
    position: absolute;
    top: 0;
    width: 82%;
    height: 2px;
    background: transparent;
    box-shadow: 0 -5px 5px var(--light-color);
  }
}

.btn.back {
  position: relative;
  left: 20px;
  width: 2.5rem;

  border: none;
  background: transparent;
  color: var(--light-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
  padding: 0;
  * {
    width: 3rem;
    height: 3rem;
  }
}
.btn.back:hover {
  color: var(--primary-color);
}
@media (max-width: 800px) {
  .header {
    gap: 1rem;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
  .header-info {
    .name {
      font-size: 1rem;
    }
  }
  .header-actions {
    right: 2%;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .messages-holder {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .input-holder .line {
    display: none;
  }
}
