.wrapper {
  position: absolute;
  flex-direction: column;
  display: flex;
  z-index: 1000;
  background-color: var(--dark-gray-color);
  padding: 0.5rem;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 1rem;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 4px;
  gap: 1rem;

  svg {
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
  }
}
.item:hover {
  background-color: var(--gray-color);
  color: var(--primary-color);
}

