@if (this.type == "user"){
<img class="avatar" [ngClass]="{
    'online': this.data.isOnline
  }" [src]="this.data!.img[this.data!.img.length-1] | img" alt="" (click)="clickEmit($event)" />
} @else if (this.type == "inc_request"){
<img class="avatar" [src]="this.data!.sender_id.img[this.data!.sender_id.img.length-1] | img" alt=""
  (click)="clickEmit($event)" />
} @else if (this.type == "my_request"){
<img class="avatar" [src]="this.data!.receiver_id.img[this.data!.receiver_id.img.length-1] | img" alt=""
  (click)="clickEmit($event)" />
}

<div class="friend-info">
  @if (this.type == "user"){
  <h2 class="username">{{ this.data!.username }}</h2>
  <h3 class="name">{{ this.data!.name }}</h3>
  } @else if (this.type == "inc_request"){
  <h2 class="username">{{ this.data!.sender_id.username }}</h2>
  <h3 class="name">{{ this.data!.sender_id.name }}</h3>
  } @else if (this.type == "my_request"){
  <h2 class="username">{{ this.data!.receiver_id.username }}</h2>
  <h3 class="name">{{ this.data!.receiver_id.name }}</h3>
  }
</div>

<div class="actionBtns" [ngStyle]="{
  'flex-direction': 'row'
}">
  @if (this.type == "user"){
  @if (this.data.isFriend) {
  <button class="btn btn-primary" (click)="this.openChat()">
    <svg icon="comments"></svg>
  </button>
  <button class="btn btn-danger" (click)="this.removeFriend()">
    <svg icon="trashcan"></svg>
  </button>
  } @else {
  <div style="display: flex; flex-direction: column; gap: .5rem;">
    @if (!isSent){
    <input id="message-req-input" placeholder="Some message?"
      style="border-bottom: 2px solid var(--primary-color); border-radius: 0;" maxlength="100" />
    }
    <button class="btn btn-primary" style="border: 2px solid var(--primary-color); padding: .5rem 1rem;"
      (click)="sendRequest()" [disabled]="isSent">
      <svg icon="repost"></svg>
      {{isSent ? "Sent" : "Send request"}}
    </button>
  </div>

  }
  } @else if (this.type == "inc_request") {
  <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
    <p>{{ this.data.text }}</p>
    <div style="display: flex; gap: 1rem;">
      <button class="btn btn-primary" (click)="acceptRequest()">
        <svg icon="plus"></svg>
      </button>
      <button class="btn btn-danger" (click)="declineRequest()">
        <svg icon="trashcan"></svg>
      </button>
    </div>
  </div>
  } @else if (this.type == "my_request") {
  <button class="btn btn-danger" (click)="deleteRequest()" [disabled]="isDeleted">
    <svg icon="trashcan"></svg>
    Delete@if(isDeleted){d}
  </button>
  }

</div>

<button class="btn btn-danger block-btn" (click)="this.removeFriend()">
  <svg icon="block"></svg>
</button>