<!-- profile.component.html -->
<ng-container *ngIf="data; else loading">
  <div class="wrapper">
    <div class="profile-container">
      <h1 class="title">Profile</h1>

      <div class="profile-header">
        <div class="profile-background" [style.backgroundImage]="'url(' + (data.bg | bg) + ')'"></div>

        <div class="profile-info">
          <div class="profile-avatar">
            <img [src]="data.img[0] | img" alt="avatar" class="profile-avatar-img" />
            <img [src]="data.border | border" alt="border" class="profile-border" />
          </div>

          <div class="prof-info">
            <div class="nickname">{{ data.username }}</div>
            <div class="name">{{ data.name }}</div>
            <div class="description">{{ data.description }}</div>
          </div>

          <button *ngIf="isItMyProfile" class="btn editBtn" (click)="editProfile($event)">
            <svg icon="pen"></svg>
          </button>
        </div>
      </div>

      <!-- Posts list -->
      <ng-container *ngFor="let post of posts; trackBy: trackByPost">
        <app-post [data]="post"></app-post>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>

<!-- Edit-profile overlay -->
<div class="edit-profile-wrapper" *ngIf="isItMyProfile && isEditing">
  <div class="edit-profile">
    <button class="btn close" (click)="editProfile($event)" style="position: absolute; top: 10px; right: 10px">
      x
    </button>

    <div class="edit" style="grid-area: main">
      <h1>Edit Profile</h1>
      <form class="edit-profile-form" [formGroup]="editProfileForm" (ngSubmit)="onEditProfile($event)">
        <!-- file picker stays the same -->
        <input type="file" class="upload avatar" accept="image/*" formControlName="img"
          (change)="onFileSelected($event)" [ngClass]="{ selected: editProfileForm.get('img')?.value }" />

        <!-- NAME field: NO ngModel, NO name="" -->
        <input type="text" placeholder="Name" formControlName="name" style="grid-area: name" />
        <input type="password" placeholder="Password" formControlName="password" style="grid-area: password" />

        <!-- DESCRIPTION field: NO ngModel, NO name="" -->
        <textarea placeholder="Description" formControlName="description" style="grid-area: description"></textarea>

        <button class="btn btn-primary" type="submit" style="grid-area: save">
          Save
        </button>
      </form>
    </div>
  </div>
</div>