@if (!this.data) {
<p>Loading...</p>
} @else {

<div class="wrapper">
  <div class="header">
    <div class="background"></div>
    <div class="avatar">
      <img [src]="this.data.img[0] | img" alt="">
    </div>
    <div class="username">{{ this.data.username }}@if (this.data.username == "s1m4") {<p>CEO</p>}</div>
    <div class="description">{{ this.data.description }}</div>
  </div>
  <div class="nav">
    @for (navItem of this.navPanel; track navItem.label){
    <div *ngIf="navItem.guard" class="navItem" [ngClass]="{'selected': navItem.label == this.selectedNav}"
      (click)="changeTo(navItem.label)">
      {{ navItem.label }} <div class="line"></div>
    </div>
    }
  </div>

  <ng-container *ngIf="selectedNav === 'Gifts'">
    <div class="content" style="gap: .5rem; padding-top: .5rem;">
      <app-gift *ngFor="let gift of this.data.gifts" [data]="gift"></app-gift>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav === 'Photos'">
    <app-photo-gallery *ngIf="showGallery" [media]="data.img" [selected]="selectedPhoto" (close)="closePhotoGallery()"
      (delete)="deletePhoto($event)"></app-photo-gallery>
    <div class="content">
      <img class="photo-item" *ngFor="let image of data.img" [src]="image | img" alt="…"
        (click)="openGallery(image.path)" />
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav === 'Settings'">
    <div class="content">

      <form [formGroup]="settingsFormGroup" (ngSubmit)="onSubmit($event)">
        <div class="item">
          <h2>Used Memory</h2>
          <label for="memoryUsed">700MB / 1000MB</label>
          <progress id="memoryUsed" value="70" max="100" class="memory-line">70</progress>
        </div>

        <div class="item">
          <h2>Edit Profile</h2>
          <div class="input-holder"
            style="display: grid; grid-template-columns: 6rem calc(100% - 6rem); padding-left: 1rem; align-items: center; justify-items: start;">

            <label #label for="uploadAvatar" class="upload" style="left: initial; transform: initial;"
              [ngClass]="{ selected: settingsFormGroup.get('img')?.value }">
              <svg icon="plus"></svg></label>
            <input hidden id="uploadAvatar" type="file" accept="image/*" formControlName="img"
              (change)="onFileSelected($event)" />

            <input formControlName="name" style="font-size: 1.5rem;" placeholder="First and last name">
          </div>
        </div>
        <div class="item">
          <p>BIO</p>
          <div class="input-holder">
            <input formControlName="bio">
          </div>
          <p>Any details such as age, occupation or city</p>
          <p>Example: 23 y.o. designer from Odessa</p>
        </div>
        <div class="item">
          <div class="input-holder inline">
            <h5>Date of Birth</h5>
            <!-- formControlName="birthday" -->
            <input type="date">
          </div>
        </div>
        <div class="item">
          <div class="input-holder inline">
            <h5>Phone</h5><input formControlName="phone" type="tel" placeholder="+431234567890">
          </div>
          <div class="input-holder inline">
            <h5>Email</h5><input formControlName="email" type="email" placeholder="email@example.com">
          </div>
          <div class="input-holder inline">
            <h5>Password</h5><input formControlName="password" type="password" placeholder="********">
          </div>
        </div>
        <button class="btn" type="submit">Save</button>
      </form>
    </div>
  </ng-container>
</div>
}