:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 10000;

  background: rgba(0, 0, 0, 0.7);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-header {
  height: 5%;
  min-height: 50px;
  background: red;
}

.gallery-content {
  height: 85%;
  min-height: 500px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.media-viewer {
  width: 80%;
  height: 100%;

  * {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.actionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--dark-gray-color);

  svg {
    width: 30px;
    height: 30px;
    color: var(--primary-color);
  }
}
.actionBtn.back {
  left: 25px;
}
.actionBtn.forward {
  right: 25px;
}
.gallery-footer { 
  display: flex;
  justify-content: center;
  align-items: center;

  gap: .2rem;

  height: 10%;
  min-height: 100px;
}
.media-item-preview {
  height: 80%;
  width: fit-content;
  object-fit: cover !important;

  cursor: pointer;

  video, img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

