.message {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: fit-content;
  gap: 1rem;

  position: relative;
}
.message-sender {
  flex-direction: row;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 60%;
  height: fit-content;
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.wrapper .username {
  display: block;
  text-align: right;
  font-weight: bold;
  color: var(--primary-color);
  text-align: right;
}
.wrapper .text pre {
  word-break: keep-all;
  text-wrap: wrap;
}
.message-sender .wrapper .username {
  display: block;
  font-weight: initial;
  color: var(--primary-color);
  text-align: left;
}
.media-holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.media-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;

  padding: 0.5rem;
  background: var(--dark-gray-color);
  color: var(--primary-color);
}
.media-item svg {
  width: 2rem;
  height: 2rem;
  color: var(--primary-color);
}
.media-item p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.media-item a {
  position: relative;
  width: 2rem;
  height: 2rem;

  color: var(--primary-color);
}
.message-select-box {
  position: absolute;
  top: 50%;
  left: 10%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  transform: translateY(-50%);

  color: var(--primary-color);

  width: 30px;
  height: 30px;
  input {
    width: 100%;
    height: 100%;
  }
}
.message-sender .message-select-box {
  left: auto;
  right: 10%;
}
.text {
  position: relative;
  unicode-bidi: plaintext;
  overflow: clip;
  overflow-clip-margin: 0.5rem;
  display: block;
  margin: 0;
  border-radius: 0.25rem;
  line-height: 1.3125;
  text-align: initial;
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  p {
    display: static;
    font-size: 15px;
    color: var(--gray-color);
  }
  svg {
    margin-left: .2rem;
    width: 20px;
    height: 20px;
    color: var(--gray-color);
  }
}
.footer {
  display: flex;
  color: var(--gray-color);
  gap: 1rem;
  flex-wrap: wrap;
}

.emoji-wrapper {
  display: flex;
  align-items: center;

  padding: 0 .2rem;

  border-radius: 8px;
  cursor: pointer;

  height: 2rem;
  background: color-mix(in srgb, var(--gray-color) 30%, transparent);
}
.emoji-wrapper.my {
  background: color-mix(in srgb, var(--primary-color) 30%, transparent);
}
.emoji {
  height: 80%;
  width: auto;
  object-fit: contain;
}
.users-holder {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.userAvatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.replied-on-holder {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 5px;
  border-left: 3px solid var(--primary-color);
  padding: 5px 0px 5px 5px;
  background: color-mix(in srgb, var(--primary-color) 30%, transparent);
}
.replied-on-username {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary-color);
}
.replied-on-text {
  font-size: 0.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .message {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    .text {
      text-align: right;
    }
  }
  .message .avatar {
    display: none;
  }
  .message .wrapper {
    max-width: 80%;
  }
  .message .wrapper .username {
    display: block;
    text-align: right;
    font-weight: bold;
    color: var(--primary-color);
  }
  .message-sender {
    flex-direction: column;
    align-items: flex-start;
    .text {
      text-align: left;
    }
  }
  .message-sender .wrapper .username {
    text-align: left;
    font-weight: initial;
  }
  .photo-holder {
    width: 100%;
    height: auto;
  }
}
