<!-- <div class="title-bar">
  <app-titlebar></app-titlebar>
</div> -->
@if (this.webSocketService.socket$.connected){
<div class="app">
  <div class="sidebar" [ngClass]="{ collapsed: this.isCollapsed }">
    <h1 class="title">Bla Bla Gram</h1>
    <div class="buttons">
      @for (link of this.pages; track link.name) {
      <button *ngIf = 'link.guard ? link.guard() : true' class="button page-link" [name]="link.name" (click)="link.onclick! ? link.onclick() : null"
        [routerLink]="link.isRoute ? link.name : null">
        <svg [icon]="link.icon"></svg><span>{{ link.title }}</span>

        <div class="counter" *ngIf="link.counter && link.counter() > 0">{{link.counter()}}</div>
      </button>
      }
    </div>
  </div>
  <div class="popups-holder" [ngClass]="{ showed: this.popUps.length > 0 }">
    @for (popUp of this.popUps; track popUp) {
    <app-popup [data]="popUp"></app-popup>
    }
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-send-gift *ngIf="this.showSendGift" (onClose)="toggleSendGift()"></app-send-gift>

  <app-modal *ngIf="showProfile" (click)="toggleShowProfile()">
    <div class="info-container" (click)="stopPropagation($event)">
      <app-profile username="me"></app-profile>
    </div>
  </app-modal>
</div>
}