.app {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  position: relative;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 270px;
  height: 100%;
  background: var(--dark-color);
  padding: 0 1vw;
  border: 0px;
  border-right: 2px solid var(--primary-color);

  transition: all 0.3s ease-in-out;
}

.sidebar .title {
  font-size: min(2rem, 24px);
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.nav li {
  cursor: pointer;
  line-height: 2rem;
  padding: 0.5rem 1rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: inherit;
  width: 100%;
  height: 3rem;
  text-align: left;
  padding-left: 1vw;
  font-size: 25px;
  position: relative;
  color: var(--primary-color);
}

.button svg {
  width: 25px;
  height: 25px;
}

.button:hover {
  background: rgba(1, 1, 1, 0.5);
  color: var(--light-color);
}
.sidebar .page-link:hover {
  background: var(--secondary-color);
}
.sidebar.collapsed .page-link:hover {
  background: transparent;
}

.notifications {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--light-color);
  display: none;
  border-right: 1px solid var(--primary-color);
  z-index: 1000000;
}

.notifications.showed {
  display: block;
}

.popups-holder {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 30rem;
  height: fit-content;
  max-height: 30vh;

  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  z-index: 1000000;
}

.content > app-chats + .sidebar {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 800px) {
  .app {
    flex-direction: row;
  }
  .sidebar.collapsed {
    width: 100px;
    align-items: center;
    padding: 0;
    min-width: initial;
    border-right: 4px solid var(--primary-color);
    padding-top: 4rem;
  }
  .sidebar.collapsed .buttons {
    height: 100%;
    padding: 0;
  }
  .sidebar.collapsed .buttons button {
    padding: 0;
  }
  .sidebar.collapsed + .notifications.showed {
    left: 95px;

    padding: 0 2px;
  }
  .sidebar.collapsed .title,
  .sidebar.collapsed span {
    display: none;
  }
}

.profile-img {
  position: absolute;
  bottom: 40px;

  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;

  padding: 0;
}

.switch-accounts {
  width: 200px;
  max-height: 150px;
  position: absolute;
  bottom: 40px;
  left: 100px;
  cursor: pointer;

  z-index: 1000;

  padding: 5px;
  border-radius: 8px;

  background: var(--dark-color);

  overflow: auto;
}
.switch-accounts .account {
  height: 50px;

  display: flex;
  color: var(--primary-color);
  align-items: center;
  gap: 1rem;
  border-radius: 8px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 800px) {
  .app {
    flex-direction: column-reverse;
  }
  .title {
    display: none;
  }
  .sidebar {
    border: 0px;
    border-top: 2px solid var(--primary-color);
    width: 100%;
    height: 4rem;
    display: flex;
  }
  .sidebar .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .sidebar span {
    display: none;
  }
  .notifications.showed + .content {
    display: none;
  }
  .notifications.showed {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
  }
  .popups-holder {
    display: none;
  }
  .info-container {
    width: 100vw;
    top: calc(100svh - (25svh + 6svh + 48svh));
  }

  .profile-img {
    position: relative;
    bottom: initial;
    left: initial;
  }
  .switch-accounts {
    position: absolute;
    bottom: 60px;
    left: 0;

    cursor: pointer;
    z-index: 1000;
    padding: 5px;
    border-radius: 8px;
    background: var(--dark-color);
    overflow: auto;
    width: 100%;

    animation: showingUp 0.3s ease-in-out;
  }
}
