@if (!editMode){
<div id="upload-bars-holder" class="upload-bars-holder">
</div>
<div [ngClass]="{
        'withReply': this.repliedOn$
      }" class="filesPopUp" *ngIf="filesList.length">
  @for (file of filesList; track file.name) {
  <div class="fileItem">
    @if (file.name.endsWith('.png') || file.name.endsWith('.jpg') || file.name.endsWith('.jpeg')) {
    <img [src]="URL.createObjectURL(file.file)" class="fileImage" />
    } @else {
    <svg icon="file"></svg>
    <span class="fileSize">{{ file.size }}</span>
    }
    <div class="deleteBtn" (click)="deleteFile(file)"><svg icon="plus"></svg></div>
  </div>
  }
</div>
@if (this.repliedOn$) {
<div class="reply-on">
  <svg icon="reply"></svg>
  <div class="reply-content-holder">
    <div class="reply-to-person">
      Reply to {{this.repliedOn$.sender.username}}
    </div>
    <div class="reply-to-text">
      {{this.repliedOn$.text || `${this.repliedOn$.media.length} Medias` }}
    </div>
  </div>

  <button class="btn-undo" (click)="this.replyOn.emit('')"><svg icon="plus"
      style="transform: rotate(45deg);"></svg></button>
</div>
}
<div class="attachFileBtn btn">
  <label for="files-input" class="btn attachFile">
    <svg icon="attach"></svg>
  </label>
  <input (change)="onFileSelected($event)" id="files-input" type="file" class="attachFile" multiple hidden />
</div>
@if (!isRecording || !isVoice) {
<textarea #input class="input" placeholder="Type a message..." (keypress)="onKeyPress($event)"
  (keyup)="onKeyPress($event)"></textarea>
<button id="send-btn" class="btn" (click)="this.sendMessage.emit()" *ngIf="this.value.length || this.filesList.length">
  <svg icon="repost"></svg>
</button>
}
<app-audio-message (audioReady)="handleAudio($event)" [ngStyle]="{
  display: isRecording && isVoice ? 'flex' : 'none'
}"></app-audio-message>

@if (isVoice){
<button id="send-btn" class="btn record" (mousedown)="onPressStart($event, 'audio')" (mouseup)="onPressEnd('audio')"
  (touchstart)="onPressStart($event, 'audio')" (touchend)="onPressEnd('audio')" style="z-index: 101;"
  *ngIf="!this.value.length && !this.filesList.length">
  <svg icon="microphone"></svg>
</button>
} @else {
<button id="send-btn" class="btn record" (mousedown)="onPressStart($event, 'video')" (mouseup)="onPressEnd('video')"
  (touchstart)="onPressStart($event, 'video')" (touchend)="onPressEnd('video')" style="z-index: 101;"
  *ngIf="!this.value.length && !this.filesList.length">
  <svg icon="camera"></svg>
</button>
}
} @else {
<textarea #input id="message-input" class="input" [value]="messageTextForEdit" (keypress)="onKeyPress($event)"
  placeholder="Type a message..."></textarea>
<button id="send-btn" class="btn" (click)="editMessage()">Save</button>
}