<div class="wrapper">
  <div class="holder">
    <h1 class="title">BlaBlaGram</h1>
    <form (ngSubmit)="onSubmit($event)" class="form" [formGroup]="form">
      <label class="input-field">
        Username 
        <input type="text" formControlName="username" />
      </label>
      <label class="input-field">
        Password *
        <input type="password" formControlName="password" />
      </label>
      <button class="btn" type="submit" [disabled]="!form.valid">Login</button>
      <a href="/register" style="width: 100%; font-size: 12px; margin-top: 10px; color: var(--primary-color);">Haven't got account? Register</a>
    </form>
  </div>
</div>
