<div class="comment-header">
  <div class="comment-profile">
    <img class="avatar" src="assets/img/avatar.webp" alt="" />
    <div>
      <h2 class="username">{{ this.data.author.username }}</h2>
      <p class="comment-date">{{ this.data.date }}</p>
    </div>
  </div>

  <div class="comment-actions">
    <button
      class="comment-act-btn"
      [ngClass]="{ liked: this.data.isLiked }"
      (click)="onClick()"
    >
      <svg icon="heart" />
    </button>
  </div>
</div>
<div class="comment-content">
  <p class="comment-text">{{ this.data.text }}</p>
</div>
