<div class="friends-container">
  <div class="friends-header">
    <h1>Friends</h1>

    <select class="select" (change)="onChange($event)" [value]="whatToShow">
      <option value="friends">
        Friends
      </option>
      <option value="requestsSent">
        My requests
      </option>
      <option value="requestsGot">
        Incoming requests
      </option>
    </select>
  </div>
  <app-search
    [placeholder]="'Search friends...'"
    (search)="searchFriends($event)"
  ></app-search>
  <div class="friends-list">
    @if (whatToShow == "friends") {
      @for (friend of this.friends.list; track friend) {
        <app-user-card [data]="friend"></app-user-card>
      } 
    } @else if (whatToShow == "search") {
      @for (friend of this.searchResults; track friend) {
        <app-user-card [data]="friend"></app-user-card>
      } 
    } @else if ( whatToShow == "requestsGot") {
      @for (friend of this.incomingReq; track friend) {
        <app-user-card [data]="friend" type="inc_request"></app-user-card>
      } 
    } @else if ( whatToShow == "requestsSent") {
      @for (friend of this.myReq; track friend) {
        <app-user-card [data]="friend" type="my_request"></app-user-card>
      } 
    }
  </div>
</div>
