<div class="wrapper">
  <div class="header">
    <div class="item" (click)="this.onClick.emit();"><svg icon="arrowBack"></svg>
      <h2>Go Back</h2>
    </div>
  </div>
  <div class="item" *ngFor="let item of options" (click)="select(item.type)">
    <svg [icon]="item.svg"></svg>
    <h3>{{ item.label }}</h3>
  </div>
  <div class="user item" *ngFor="let item of friends.list" (click)="select(item.id)">

    <div class="avatar-wrap" [ngClass]="{
      'online': item.isOnline
      }">
      <img class="avatar" [src]="item.img[item.img.length - 1] | img">
    </div>
    <h3>{{ item.username }}</h3>
  </div>
</div>