<img class="avatar"
  [ngClass]="{
  'online': isOnline
  }"
  [src]="chat.img[chat.img.length-1] | img" alt="" />

<div class="chat-info">
  <div class="username">
    {{ chat.title }}
  </div>
  <div class="message-preview">
    <div class="message-preview-text">
      {{ chat.lastMessage?.text || 'No messages yet' }}
    </div>
    <div class="message-preview-time">
      {{ (chat.lastMessage?.editedAt | date: 'shortTime') || "" }}
    </div>
  </div>
</div>
@if (chat.unreadmessages > 0) {
<div class="unread-messages">
  @if (chat.unreadmessages > 99) {
  99+
  } @else {
  {{ chat.unreadmessages }}
  }
</div>
}