.wrapper {
  position: absolute;
  gap: 0.2rem;
  background: var(--dark-gray-color);

  border-radius: 2rem;

  transform: translateY(-110%);
  z-index: 999;
}
.reaction-item {
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
  * {
    width: 100%;
    height: 100%;
    font-size: 5rem;
  }
}
.reaction-item:hover {
  background: var(--gray-color);
}
.reactions-open-more {
  width: 3rem;
  height: 3rem;

  background: var(--gray-color);
  border-radius: 50%;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  * {
    color: var(--light-color);
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 500px) {
  .reaction-item,
  .reactions-open-more {
    width: calc(100vw / 9 - 8px);
    height: calc(100vw / 9 - 8px);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;
    * {
      width: 100%;
      height: 100%;
      font-size: 5rem;
    }
  }
}
