:host {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;

  background: var(--dark-color);
}
.chats-header {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}

.btn.create {
  width: 3rem;
  height: 3rem;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--light-color);

  svg {
    width: 100%;
    height: 100%;
  }
}
.btn.create:hover {
  background: transparent;
  color: var(--primary-color);
}

.chats-container {
  min-width: 270px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background: var(--secondary-color);


}

.chats-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x:visible;
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding-top: 15px;
}

.chats-content {
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.holder {
  width: 40vw;
  height: 50vh;
}


@media (max-width: 1200px) {
  :host {
    flex-direction: column;
  }

  .chats-container {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .chats-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}