<div class="chats-container">
  <div class="chats-header">
    <h1>Chats</h1>
    <div class="btn create" (click)="toggleCreateModal()">
      <svg icon="plus"></svg>
    </div>
    <app-modal *ngIf="showCreateModal" (click)="toggleCreateModal()" [showBackdrop]="!window.isDesktop()"
      [style]='"background: " + (window.isDesktop() ? "transparent" : "rgba(0,0,0,.4)")'>
      <app-create-modal (click)="stopPropagation($event)" (onClick)="toggleCreateModal()">

      </app-create-modal>
    </app-modal>
  </div>
  <div class="chats-list">
    @for (chat of getChats; track chat.id) {
    <app-chat-preview [chat]="chat" (click)="selectChat(chat)"></app-chat-preview>
    }
  </div>
</div>
<div class="chats-content" id="chatsContent" [style]="{ 'display': currentChat == null ? 'none' : 'block' }"
  *ngIf="isThisChatAtMe(currentChat)">
  <app-chat [chatId]="currentChat" (closeChat)="closeChat()"></app-chat>
</div>