<img class="avatar" [src]="chat.img[0].path | img" alt="" />
<div class="chat-info">
  <div class="username">
    {{ chat.title }}
  </div>
  <div class="message-preview">
    <div class="message-preview-text">
      {{ chat.lastMessage?.text || 'No messages yet' }}
    </div>
    <div class="message-preview-time">
      {{ chat.lastMessage?.updatedAt?.toTimeString("HH:mm").split(" ")[0] || '' }}
    </div>
  </div>
</div>
@if (chat.unreadmessages > 0) {
<div class="unread-messages">
  @if (chat.unreadmessages > 99) {
  99+
  } @else {
  {{ chat.unreadmessages }}
  }
</div>
}